// Body
$body-bg: #16151D;
// 16151D
// Typography
$font-family-sans-serif:  Open Sans, Arial, Helvetica, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// bs
$breadcrumb-font-size:1.3rem;
$breadcrumb-active-color : white;
$breadcrumb-margin-bottom: 1.5rem;
$breadcrumb-divider-color:white;
$table-border-factor:         .2;
$pagination-color:  #16151d;
$pagination-bg : white;

$pagination-active-color:white;
$pagination-active-bg:   #424049;
$pagination-active-border-color: #424049;
